body, html {
	margin: 0px;
	background: lime;
}

header {
	background: #333;
	margin: 0px;
	padding: 2px 15px 0 15px;
}

h2:hover {	
	background-color: rgb(0, 255, 199);
}

ul li {
	list-style-type: none;
}

nav ul li a {
	color: white;
}

.mission_1:hover {
	background-color: rgb(0, 255, 199);
}

.mission_1 {
	display: inline-block;
	padding: 50px;
	margin: 0px;
}

.mission_2:hover {
	background-color: rgb(0, 255, 199);
}

.mission_2 {
	display: inline-block;
	padding: 50px;
	margin: 0px;
}

.btn-text {
	color: white;
}

#title {
	display: inline-block;
	padding: 1px;
	margin: 0px;
	color: white;
}

footer {
	position: absolute;
	top: 98%;
	left: 50%;
	right: 50%;
	bottom: 0%;
	width: 100%;
	max-width: 350px;
	transform: translate(-50%,-50%);
	color: #777;
}
