html, body {
	position: absolute;
	background: #999;
	margin: 0;
}

.col {
	background: #888;
	position: initial;
	perspective: initial;
	margin: 10px;
	float: left;
	display: inline-block;
	padding: 70 2, 15px;
}

.col2 {
	background: #888;
	position: initial;
	perspective: initial;
	margin: 10px;
	float: left;
	display: inline-block;
	padding: 70 2, 15px;
}

.col3 {
	background: #888;
	position: initial;
	perspective: initial;
	margin: 10px;
	float: left;
	display: inline-block;
	padding: 70 2, 15px;
}

.col4 {
	background: #888;
	position: initial;
	perspective: initial;
	margin: 10px;
	float: left;
	display: inline-block;
	padding: 70 2, 15px;
}

.col5 {
	background: #888;
	position: initial;
	perspective: initial;
	margin: 10px;
	float: left;
	display: inline-block;
	padding: 70 2, 15px;
}

.col6 {
	background: #888;
	position: initial;
	perspective: initial;
	margin: 10px;
	float: left;
	display: inline-block;
	padding: 70 2, 15px;
}