body, html {
	margin: 0px;
	background: lime;
}

header {
	background: #333;
	margin: 0px;
	padding: 0.1px;
}

h2:hover {	
	background-color: rgb(0, 255, 199);
}

ul li {
	list-style-type: none;
}

.start:hover {
	background-color: rgb(0, 255, 199);
}

.start {
	display: inline-block;
	padding: 50px;
	margin: 0px;
}

.help:hover {
	background-color: rgb(0, 255, 199);
}

.help {
	display: inline-block;
	padding: 50px;
	margin: 0px;
}

.planes:hover {
	background-color: rgb(0, 255, 199);
}

.planes {
	display: inline-block;
	padding: 50px;
	margin: 0px;
}

.levels:hover {
	background-color: rgb(0, 255, 199);
}

.levels {
	display: inline-block;
	padding: 50px;
	margin: 0px;
}

.btn-text {
	color: white;
}

#title {
	display: inline-block;
	padding: 1px;
	margin: 0px;
	color: white;
}

footer {
	position: absolute;
	top: 98%;
	left: 50%;
	right: 50%;
	bottom: 0%;
	width: 100%;
	max-width: 350px;
	transform: translate(-50%,-50%);
	color: #777;
}